<ion-tabs class="tabs-assertive tabs-icon-top">
	<ion-tab href="#/app/tab/home" title="HOME" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
		<ion-nav-view name="tabs-home"></ion-nav-view>
	</ion-tab>
	<ion-tab href="#/app/tab/stream" title="STREAM" icon-on="ion-ios-film" icon-off="ion-ios-film-outline">
		<ion-nav-view name="tabs-stream"></ion-nav-view>
	</ion-tab>
	<ion-tab href="#/app/tab/vod" title="VOD" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline">
		<ion-nav-view name="tabs-vod"></ion-nav-view>
	</ion-tab>
	<ion-tab href="#/app/tab/live" title="LIVE" icon-on="ion-ios-videocam" icon-off="ion-ios-videocam-outline">
		<ion-nav-view name="tabs-live"></ion-nav-view>
	</ion-tab>
</ion-tabs>